*{
    margin: 0px;
    padding: 0px;  
}

html{
    scroll-behavior: smooth;
}

#navbar{
    position: fixed;
    display: flex;
    font-family: sans-serif;
    width: 100%;
    height: 50px;
    margin-bottom: 50px !important;
}

#navbar::before{
        content: "";
        background-color: black;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.4;
    
}

img{
    height: 40px;
    margin: 5px 10px;
}
#navbar ul{
    margin: 10px;
    display: flex;
    list-style: none;
}

#navbar ul li{
    /* color: white; */
    font-size: 25px;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 13px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}

#home{
    display:flex ;
    flex-direction: column;
    padding: 5px 15px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 300px;
    padding: 10px;
}

  #home::before{  
      content: "";
      position: absolute ;
    /* background: url('../food.jpg');  */
    background: url(https://source.unsplash.com/1600x900/?pizza,burger,coffee);
     height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
 } 
#home h1{
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
 p{
     font-weight: bolder;
     /* background: blanchedalmond; */
    color: rgb(24, 22, 22);
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;

}   
#home button{
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: sandybrown;
    margin: 20px;
    cursor: pointer;
}
#home button:hover{
    background-color: crimson;
}

.service h1{
    margin-top: 220px;
    text-align: center;
    font-size: 40px;
}
.service h2{
    margin: 20px;
    
}

.services{
    margin-top: 3px;
    display: flex;
   
}
.services .box{
    border: 2px solid brown;
    margin: 5px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color:  cornsilk;

}
.service img{
    /* align-items: center; */
    display: flex;
    height: 280px;
}
.service .h-secondary{
    /* display: flex; */
    text-align:center ;
    font-size: large;
    font-size: 40px;
    font-family: fantasy;
}
.service img{
    margin: 20px 33px;
}
#client-section{
   margin: 5px;
}

#client-section .h-primary{
    text-align: center;
    font-size: 50px;
}
#clients{
     display: flex;
    align-items: center;
    justify-content: center; 
   
}
#clients img{
    height: 350px;
    width: 1000px;  
}
#client-section::before{
    content: "";
    position: absolute;
   width: 100%;
    height: 70%; 
    z-index: -1;
    opacity: 0.5;
}
#contact{
    position: relative;
    height: 600px;
    margin:5px;
    margin-top: 88px;
}
#contact::before{
    content: "";
    position: absolute;
    background: url('../contact.jpg');
    background-size: cover;
    width: 100%;
    height: 100%; 
    z-index: -1;
    opacity: 0.8;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box input,
#contact-box textarea{
    width: 100%;
    padding:10px;
}
#contact-box form{
    width: 40%;
}
#contact .h-primary{
    text-align: center;
    font-size: 50px;
}
#contact .xyz{
    font-size: 20px;
    font-weight:600;
}
#contact button{
    color: blanchedalmond;
    padding: 6px 20px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: black;
    margin: 2px;
    cursor: pointer;

}
#contact button:hover{
 background-color: darkred;
 color:whitesmoke;

}
#contact marquee{
    background-color:white ;
    font-size: 40px;
    color:rgb(15, 15, 15);
}



/* .burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
} 

@media only screen and (max-width: 1520px) {
    #navbar ul{
        flex-direction: column;
        /text-align: center;
    }

    .burger{
        display: block;
    }
    
    #navbar{
        height: 370px;
    }
    .v-class{
        opacity: 0;
    }
}  */